<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .select-form {
        font-size: 2em;
      }

      button {
        padding: 7px;
        font-size: 1.2em;
      }

      h1{
        text-align: center;
      }

      td {
        border: 2px black solid;
      }
    </style>
  </head>
  <body>
    {% if col%}
    <h1>Selected Field Values for :</h1>
    <table  style="margin-left: 39%;">
      <thead>
        <tr>
          <th style="font-size: 1.6em">{{col}}</th>
        </tr>
      </thead>
      <tbody>
        {% for value in field_values %}
        <tr>
          <td style="font-size: 1.3em">{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <form method="POST">
      <div class="select-form">{% csrf_token %} {{ form.as_p }}</div>
      <button type="submit">Submit</button>
    </form>
    {% endif %}
  </body>
</html>
