<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for item in model_data %}
            <tr>
              <td>{{ item.first_name }}</td>
              <td>{{ item.first_name }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button id="my-button">Click Me</button>



      
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#my-button').click(function() {
    $.ajax({
      url: '/button-click/',  
      type: 'GET',             
      success: function(response) {
        console.log(response); 
      },
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ': ' + xhr.responseText); 
      }
    });
  });
});
</script>

</body>
</html>